* {
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aqua;
    margin-left: 200px;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: 300px;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh; 
    gap: 10px;
    margin-left: 200px;
}

.icon {
    left: 30px;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon img {
    width: 20px;
    margin-left: 30px;
    border-radius: 3px;
}


.profile-image {
    margin-left: 40px; 
    margin-top: 5px;
}

.profile-image img {
    border-radius: 50%;
    width: 50vh;
    border: 8px, solid, #00f5d4;
    box-shadow: 0 0 10px #00f5d4;
    animation: glow 2s ease-in-out infinite alternate;
}


.home-content {
    margin-left: 40px;
    height: 50vh;
    margin-top: 100px;
    text-align: left;
}

.intro {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.skill {
    color: #00f5d4;
    font-size: 20px;
    border-right: 3px solid #00f5d4;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    margin-left: 5px;
    width: 19ch;
    animation: typing 3s steps(18) infinite alternate,
    blink 0.7s infinite;
}

@keyframes typing {
    from {
        width:0;
    }
    to {
        width:19ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.home-content h1 {
    color: #00f5d4;
}

.home-content p {
    color: white;
    width: 70%;
    line-height: 1.6;
    font-family: "Georgia", serif;
}


