* {
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: aqua;
    margin-left: 200px;
}

.nav-links {
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: 300px;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

.icon {
    /* position: fixed; */
    left: 30px;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon img {
    width: 28px;
    margin-left: 30px;
    border-radius: 3px;

}

.dp {
    display: flex;
    background-color: brown;
    border-radius: 50%;
}

.profile-image {
    margin-left: 40px; 
    margin-top: 40px;
    /* padding-right: 400px; */
    /* position: fixed; */
}

.profile-image img {
    border-radius: 50%;
    width: 50vh;
    
}

